div {
    background-color:darkorchid;
    height: 150px;
    width: 80;
    padding: 20px;
}
body {
    background-color:darkred;
}
p {
    color: rgb(13, 12, 12);
    font-size: 15px;
}
text {
    font-family: serif;
}
image {
    border: black;
}